
=#image_tag 'rage_comic.png', {:style => 'float:right', :width => '50%'}

%h1 Automate Command Line Workflows
%h2 
	Use simple HTML5 web forms instead of verbose command line switches. Submit jobs in XML or through POST requests. Full GUI support for Tophat.

.clear